.markdown-body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: rgba(255, 255, 255, 0);
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  font-weight: bold;
  color: #363660;
}

.markdown-body h1::before,
.markdown-body h2::before,
.markdown-body h3::before,
.markdown-body h4::before,
.markdown-body h5::before,
.markdown-body h6::before {
  content: '';
  display: inline-block;
  height: 1em;
  line-height: 1em;
  padding: 0 4px;
  background-color: rgba(145, 196, 238);
  border-radius: 5px;
  margin-right: 10px;
  vertical-align: middle;
}

.markdown-body h1 {
  font-size: 2em;
  margin-bottom: 15px;
}

.markdown-body h2 {
  font-size: 1.6em;
  margin-bottom: 12px;
}

.markdown-body h3 {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.markdown-body h4 {
  font-weight: bold;
  margin-bottom: 5px;
}

.markdown-body h5 {
  font-size: 0.6em;
  margin-bottom: 3px;
}

.markdown-body h6 {
  font-size: 0.3em;
  margin-bottom: 1px;
}

.markdown-body p {
  font-size: 1em;
  line-height: 1.8;
  margin-top: 5px;
  margin-bottom: 15px;
}

.markdown-body img {
  width: 100%;
  object-fit: contain;    /* 图片完整铺满，可能裁剪部分超出 */
}

.markdown-body pre {
  overflow: hidden !important;
  overflow-x: auto !important;
  white-space: pre;
  margin-bottom: 20px;
  code{ 
      display: inline-block;
      padding-bottom: 20px;
      position: relative;
      top: 20px;
  }
  &::before {
      content: "";
      position: absolute;
      background: red;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      top: 10px;
      left: 15px;
      transform: translate(-50%);
  }
  &::after {
      content: "";
      position: absolute;
      background: sandybrown;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      top: 10px;
      left: 30px;
      transform: translate(-50%);
  }
  code:first-child{
      &::after{
          content: "";
          position: absolute;
          background: limegreen;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          top: -25px;
          left: -10px;
          transform: translate(-50%);
      }
  }
}

.markdown-body blockquote {
  padding: 10px 20px;
  margin: 15px 0;
  border-left: 5px solid #ddd;
  background-color: #f9f9f9a6;
  font-style: italic;
}

.markdown-body blockquote p {
  margin: 0;
}


.markdown-body ul {
  padding-left: 20px;
  margin: 0;
}

.markdown-body ul li {
  list-style-type: disc;
  margin-bottom: 10px;
}
